{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Conductor Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-book fa-fw"></i>Attendance History</h1>
        </div>
      </div>
      {% if true %}
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Check In Time</th>
                <th>Check Out Time</th>
                <th>Total Hours</th>
              </tr>
            </thead>
            <tbody>
              {% for data in attendance_list %}
              <tr>
                <td>{{data[0]}}</td>
                <td class="duration_time1">{{data[1]}}</td>
                <td class="duration_time2">{{data[2]}}</td>
                <td class="total_duration_time"></td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
      {% else %}
      <div class="alert alert-danger text-center">
        <strong>Opps!</strong> No Attendance
      </div>
      {% endif %}
    </div>
  </div>
  </div>
  <div class="py-3">
    <div class="container h-50">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            <i class="fa fa-caret-right fa-fw"></i>ADD ATTENDANCE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card bg-light">
            <div class="card-body">
              <h1 class="mb-3">Attendance Form</h1>
              <form>
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Date</label>
                  <div id="date" class="col-sm-6">
                    <input name="date" type="date" class="form-control" placeholder="check in date" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Check In Time</label>
                  <div id="check-in" class="col-sm-6">
                    <input name="check-in" type="time" class="form-control" placeholder="check in time" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-4 col-form-label">Check Out Time</label>
                  <div id="check-out" class="col-sm-6">
                    <div class="input-group">
                      <input name="check-out" type="time" class="form-control" id="inlineFormInputGroup" placeholder="check in time" required="required"> </div>
                  </div>
                </div>
                <button class="add-attendance btn btn-block btn-lg btn-primary">SAVE</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    $(window).on('beforeunload', function () {
      $(window).scrollTop(0);
    });

    $(document).on('click', ".add-attendance", function () {
      var attendanceData = {};
      var date = $("#date").find("input[name=date]").val();
      //var in = $("#check-in").find("input[name=check-in]").val();
      var checkIn = $("#check-in").find("input[name=check-in]").val();
      var out = $("#check-out").find("input[name=check-out]").val();
      attendanceData = {
        "date": date,
        "in": checkIn,
        "out": out
      }

      console.log("masduk");
      console.log(attendanceData);

      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/add_attendance",
        data: JSON.stringify(attendanceData),
        success: function (data) {
          message = data["data"]
          if (message == "success")
            location.reload();
        },
        dataType: "json"
      });

    })

    // time = 'hh:mm:ss'
    function toSeconds(time) {
      var parts = time.split(':');
      return (+parts[0]) * 60 * 60 + (+parts[1]) * 60 + (+parts[2]);
    }

    function toHHMMSS(sec) {
      var sec_num = parseInt(sec, 10); // don't forget the second parm
      var hours = Math.floor(sec_num / 3600);
      var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
      var seconds = sec_num - (hours * 3600) - (minutes * 60);

      if (hours < 10) { hours = "0" + hours; }
      if (minutes < 10) { minutes = "0" + minutes; }
      if (seconds < 10) { seconds = "0" + seconds; }
      var time = hours + ':' + minutes + ':' + seconds;
      return time;
    }

    $(document).ready(function () {
      var total = 0;
      $('.duration_time1').each(function () {
        total -= toSeconds($(this).text());
        console.log("check in" + total)
      });

      $('.duration_time2').each(function () {
        total += toSeconds($(this).text());
        console.log(total)
      });

      $('.total_duration_time').text(toHHMMSS(total));

    })
  </script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}