{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Book Train</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>

  <div class="modal fade" id="modalNoSchedule" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Show Schedule Failed</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Sorry, there's no train schedule available...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> -->
    </div>
  </div>

  <div class="modal fade" id="modalBookingFailed" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Booking Failed</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>The passenger that you inputted have already booked a ticket...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalBookingSuccess" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Booking Success</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Thank you for booking a seat with Train Reservation System</p>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="book-a-train" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-subway fa-fw"></i>Book A Train</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card-body">
            <h3 class="mb-3">Find a Train</h3>
            <form action="javascript:showSchedule();" method="POST">
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Departure Date</label>
                <div class="col-sm-5">
                  <input id="date" name="date" type="date" class="form-control" placeholder="check in date" required="required"> </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Origin Station</label>
                <div class="col-sm-6">
                  <select id="origin_station" class="col-sm-10 form-control" id="exampleSelect1" required="required">
                    <option disabled selected value> -- select a station -- </option>
                    {% for station in station_data %}
                    <option value={{station.station_id}}> {{ station.station_name }} </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Destination Station</label>
                <div class="col-sm-6">
                  <select id="destination_station" class="col-sm-10 form-control" id="exampleSelect1" required="required">
                    <option disabled selected value> -- select a station -- </option>
                    {% for station in station_data %}
                    <option value={{station.station_id}}> {{ station.station_name }} </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-block p-2">VIEW SCHEDULE</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5" id="station-schedule">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-calendar fa-fw"></i>Station Schedules</h1>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;From</label>
        <label id="os_label" class="col-sm-2 form-control-plaintext border bg-light">origin station</label>
        <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;to</label>
        <label id="ds_label" class="col-sm-2 form-control-plaintext border bg-light">destination station</label>
      </div>
      <div class="row">
        <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;Date</label>
        <label id="date_label" class="col-sm-2 form-control-plaintext border bg-light">date</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table id="tableTrainSchedule" class="table">
            <thead>
              <tr>
                <th>ID#</th>
                <th>Train Name</th>
                <th>Class</th>
                <th>Price</th>
                <th>Book</th>
              </tr>
            </thead>
            <tbody>
              <!-- TRAIN SCHEDULE HERE -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" id="pick-seat">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-check fa-fw"></i>Pick A Seat</h1>
        </div>
      </div>
      <form action="javascript:addPassengerInfo();">
        <div class="row">
          <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;From</label>
          <label id="os_seat_label" class="col-sm-2 form-control-plaintext border bg-light">origin station</label>
          <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;to</label>
          <label id="ds_seat_label" class="col-sm-2 form-control-plaintext border bg-light">destination station</label>
        </div>
        <div class="row">
          <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;Train</label>
          <label id="train_name_label" class="col-sm-2 form-control-plaintext border bg-light">Train name</label>
          <label class="col-sm-1 form-control-plaintext text-secondary border bg-light text-center">&nbsp;Date</label>
          <label id="date_seat_label" class="col-sm-2 form-control-plaintext border bg-light">date</label>
        </div>
        <div class="row">
          <label class="col-sm-3 form-control-plaintext text-secondary border bg-light text-center">&nbsp;Number of seat</label>
          <select required class="col-sm-3 form-control" id="number-of-seat">
            <option disabled selected value> -- select a number -- </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <label class="col-sm-2 form-control-plaintext text-secondary border bg-light text-center">&nbsp;Price per seat</label>
          <label id="price_seat_label" class="col-sm-2 form-control-plaintext border bg-light">price</label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table id="tablePickASeat" class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Carriage Number</th>
                  <th>Seat Number</th>
                </tr>
              </thead>
              <tbody>
                <!-- PICK A SEAT HERE -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="add-passenger-button btn btn-primary btn-block p-2">ADD PASSENGER INFORMATION!</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="py-5" id="passenger-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="text-center">
            <i class="fa fa-caret-right fa-fw"></i>Passenger Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card-body">
            <form onsubmit="return confirm('Are you sure the passenger\'s information is already correct?');" id="passenger-info-form"
              action="javascript:bookPassenger();" method="POST">
              <!-- PASSENGER FORM HERE -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    var origin_station_name;
    var destination_station_name;
    var departure_date;
    var price;
    var train_name;
    var train_class;
    var train_id;
    var number_of_seat;
    var schedule_id;

    $(window).on('beforeunload', function () {
      $(window).scrollTop(0);
    });

    function showSchedule() {
      $("#tableTrainSchedule tbody").empty();
      var x = document.getElementById("origin_station")
      var y = document.getElementById("destination_station")
      var z = document.getElementById("date")
      $.getJSON($SCRIPT_ROOT + '/get_schedule', {
        origin_station_id: x.options[x.selectedIndex].value,
        destination_station_id: y.options[y.selectedIndex].value,
        date: z.value
      }, function (data) {
        var scheduleData = data.scheduleData;
        if (scheduleData != 0) {
          for (var i = 0; i < scheduleData.length; i++) {
            data = scheduleData[i]
            schedule_id = data['schedule_id']
            console.log(data)
            var newRowContent = "<tr>"
              + "<td>" + data['train_id'] + "</td>"
              + "<td>" + data['train_name'] + "</td>"
              + "<td>" + data['class'] + "</td>"
              + "<td>" + data['price'] + "</td>"
              + "<td><button class=\"book-train-button btn btn-outline-primary\">BOOK</button></td>"
              + "</tr>"
            $("#tableTrainSchedule tbody").append(newRowContent);
          }
          origin_station_name = x.options[x.selectedIndex].text
          destination_station_name = y.options[y.selectedIndex].text
          departure_date = z.value
          $("#os_label").text("Station " + origin_station_name);
          $("#ds_label").text("Station " + destination_station_name);
          $("#date_label").text(departure_date);
          $('html, body').animate({
            scrollTop: $("#station-schedule").offset().top
          }, 500);

        } else {
          $("#modalNoSchedule").modal();
        }
      });
    };

    var carriage_option = "<option disabled selected value> -- select a number -- </option>";
    var seat_option = "<option disabled selected value> -- select a number -- </option>";
    var finalData;
    $(document).on('click', '.book-train-button', function () {
      carriage_option = "<option disabled selected value> -- select a number -- </option>";
      seat_option = "<option disabled selected value> -- select a number -- </option>";

      var cells = $(this).closest("tr").find("td");
      train_id = cells.eq(0).text();
      train_name = cells.eq(1).text();
      train_class = cells.eq(2).text();
      price = cells.eq(3).text();
      $("#os_seat_label").text("Station " + origin_station_name);
      $("#ds_seat_label").text("Station " + destination_station_name);
      $("#train_name_label").text(train_name);
      $("#date_seat_label").text(departure_date);
      $("#price_seat_label").text(price);
      $('html, body').animate({
        scrollTop: $("#pick-seat").offset().top
      }, 500);

      $.getJSON($SCRIPT_ROOT + '/check_available_seat', {
        train_id: train_id,
        train_name: train_name,

      }, function (data) {
        finalData = data.finalData
        if (finalData.length != 0) {
          for (var key in finalData) {
            var value = finalData[key]
            if (value.length != 0) {
              carriage_option += "<option>" + key + "</option>"
            } else {
              carriage_option += "<option disabled selected value>" + key + "(no seat available)" + "</option>";
            }
          }
        } else {
          alert("No seat available left...")
        }
      })
    });

    $('select#number-of-seat').on('change', function () {
      $("#tablePickASeat tbody").empty()
      var options;
      for (var i = 1; i <= 10; i++) {
        options += "<option>" + i + "</option>"
      }
      number_of_seat = this.value;
      // console.log(number_of_seat)
      for (var i = 1; i <= number_of_seat; i++) {
        var newRowContent = "<tr>"
          + "<td class=\"num\">" + i + "</td>"
          + "<td>"
          + "<select required class=\"carriage-number col-sm-3 form-control\" id=\"carriage-number" + i + "\">"
          + carriage_option
          + "</select>"
          + "</td>"
          + "<td>"
          + "<select required class=\"col-sm-3 form-control\" id=\"seat-number" + i + "\">"
          + seat_option
          + "</select>"
          + "</td>"
          + "</tr>"
        $("#tablePickASeat tbody").append(newRowContent);
      }
    });

    $(document).on('change', 'select.carriage-number', function () {
      var carriage_id = this.value;
      var available_seats = finalData[carriage_id]
      // console.log("hehe")
      seat_option = "<option disabled selected value> -- select a number -- </option>";
      for (var i in available_seats) {
        seat_id = available_seats[i]['seat_id']
        seat_option += "<option>" + seat_id + "</option>"
      }
      var num = $(this).closest('tr').find("td.num").text();
      // console.log(num)
      var elem = $("select#seat-number" + num)
      elem.empty()
      elem.append(seat_option)
    });

    function addPassengerInfo() {
      var button = "<div class=\"col-md-12\">"
        + "<button class=\"btn btn-primary btn-block p-2\" type=\"submit\" form=\"passenger-info-form\">BOOK NOW!</button>"
        + "</div>";

      var elem = $("#passenger-info-form");
      elem.empty();

      for (var i = 1; i <= number_of_seat; i++) {
        var x = document.getElementById("carriage-number" + i)
        var y = document.getElementById("seat-number" + i)
        // console.log(x)
        var temp1 = x.options[x.selectedIndex].text;
        var temp2 = y.options[y.selectedIndex].text;

        var form = "<div id=\"passenger" + i + "\">"
          + "<h3 class=\"mb-3\">Passenger " + i + "</h3>"
          + "<p><i> Carriage Number: " + temp1 + " / Seat Number: " + temp2 + "</i></p>"
          + "<div class=\"form-group form-row\">"
          + "<label class=\"col-sm-4 col-form-label\">Id Card</label>"
          + "<div class=\"col-sm-6\">"
          + "<input type=\"text\" class=\"form-control\" name=\"id_card" + i + "\" placeholder=\"id card\" required=\"required\"> </div>"
          + "</div>"
          + "<div class=\"form-group form-row\">"
          + "<label class=\"col-sm-4 col-form-label\">Name</label>"
          + "<div class=\"col-sm-6\">"
          + "<input type=\"text\" class=\"form-control\" name=\"name" + i + "\" placeholder=\"name\" required=\"required\"> </div>"
          + "</div>"
          + "<div class=\"form-group form-row\">"
          + "<label class=\"col-sm-4 col-form-label\">Phone No.</label>"
          + "<div class=\"col-sm-6\">"
          + "<div class=\"input-group\">"
          + "<input type=\"number\" class=\"form-control\" id=\"inlineFormInputGroup\" name=\"phone_no" + i + "\" placeholder=\"phone number\" required=\"required\"> </div>"
          + "</div>"
          + "</div>"
          + "<div class=\"form-group form-row\">"
          + "<label class=\"col-sm-4 col-form-label\">Date of Birth</label>"
          + "<div class=\"col-sm-6\">"
          + "<div class=\"input-group\">"
          + "<input type=\"date\" class=\"form-control\" id=\"inlineFormInputGroup\" name=\"dob" + i + "\" required=\"required\"> </div>"
          + "<input type=\"hidden\" name=\"carriage_id" + i + "\" value=" + temp1 + ">"
          + "<input type=\"hidden\" name=\"seat_id" + i + "\" value=" + temp2 + ">"
          + "</div>"
          + "</div>"
          + "</div>"
          + "<div class=\"dropdown-divider\"></div>";
        elem.append(form)
      }
      elem.append(button)
      $('html, body').animate({
        scrollTop: $("#passenger-info").offset().top
      }, 500);
    };

    function bookPassenger() {
      var passengersData = {};
      for (var i = 1; i <= number_of_seat; i++) {
        var id_card = $("#passenger" + i).find("input[name=id_card" + i + "]").val();
        var name = $("#passenger" + i).find("input[name=name" + i + "]").val();
        var phone_no = $("#passenger" + i).find("input[name=phone_no" + i + "]").val();
        var dob = $("#passenger" + i).find("input[name=dob" + i + "]").val();
        var carriage_id = $("#passenger" + i).find("input[name=carriage_id" + i + "]").val();
        var seat_id = $("#passenger" + i).find("input[name=seat_id" + i + "]").val();
        passengersData[i] = {
          'id_card': id_card,
          'name': name,
          'phone_no': phone_no,
          'dob': dob,
          'carriage_id': carriage_id,
          'seat_id': seat_id,
          'schedule_id': schedule_id
        }
      }
      // console.log(passengersData)
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/book_passenger",
        data: JSON.stringify(passengersData),
        success: function (data) {
          message = data["data"]
          // console.log(message)
          if (message == "BOOK FAILED") {
            $("#modalBookingFailed").modal();
          } else if (message == "BOOK SUCCESS") {
            $("#modalBookingSuccess").modal();
          } else {
            alert(message)
          }
        },
        dataType: "json"
      });
    }

  </script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}