<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>

<body style="background-image: url('static/img/railway.jpg');background-size:cover;background-position:center bottom;">
  <div class="py-5 text-center" style="background-position: center bottom; background-size: cover;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-5 font-weight-bold display-4 text-primary">TRAIN RESERVATION SYSTEM</h1>
          <p class="lead mb-4 font-weight-bold text-light">A train reservation system made for the Database Group Project 2018</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary"></h1>
          <p class="lead mb-5 text-muted"></p>
          <a href="/signup" class="btn btn-lg mx-1 btn-secondary">Sign Up</a>
          <a href="/login" class="btn btn-lg btn-primary mx-1">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>