{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - E-Ticket</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-ticket fa-fw text-primary"></i>Your E-Ticket</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Booking ID</th>
                <th>DETAIL</th>
              </tr>
            </thead>
            <tbody>
              {% for idx in bookingData %}
              <tr>
                <td>{{idx}}</td>
                <td>{{bookingData[idx][0]}}</td>
                <td>
                  <button class="see-detail-button btn btn-outline-primary">SEE DETAIL</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" id="passenger-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="text-center">
            <i class="fa fa-caret-right fa-fw"></i>Ticket Details</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card-body">
            <form>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Booking ID</label>
                <div class="col-sm-8">
                  <label id="booking_id" class="form-control-plaintext text-secondary border bg-light">booking id</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                  <label id="date" class="form-control-plaintext text-secondary border bg-light">mm/dd/yyyy</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Train Name</label>
                <div class="col-sm-8">
                  <label id="train_name" class="form-control-plaintext text-secondary border bg-light">train</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Origin Station</label>
                <div class="col-sm-8">
                  <label id="origin_station" class="form-control-plaintext text-secondary border bg-light">station</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Destination Station</label>
                <div class="col-sm-8">
                  <label id="destination_station" class="form-control-plaintext text-secondary border bg-light">station</label>
                </div>
              </div>
            </form>
          </div>
          <div class="card-body">
            <h3 class="mb-3" contenteditable="true">Passenger</h3>
            <form>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Passenger Name</label>
                <div class="col-sm-8">
                  <label id="passenger_name" class="form-control-plaintext text-secondary border bg-light">name</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Carriage ID</label>
                <div class="col-sm-8">
                  <label id="carriage_id" class="form-control-plaintext text-secondary border bg-light">carriage</label>
                </div>
              </div>
              <div class="form-group form-row">
                <label class="col-sm-4 col-form-label">Seat ID</label>
                <div class="col-sm-8">
                  <label id="seat_id" class="form-control-plaintext text-secondary border bg-light">seat</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(document).on('click', '.see-detail-button', function () {
      var cells = $(this).closest("tr").find("td");
      booking_id = cells.eq(1).text();

      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/see_ticket_detail",
        data: JSON.stringify(booking_id),
        success: function (data) {
          details = data['data'][0]

          date = details['date']
          dateOnly = new Date(Date.parse(date))
          train_name = details['train_name']
          origin_station = details['origin_station']
          destination_station = details['destination_station']
          passenger_name = details['name']
          carriage_id = details['carriage_id']
          seat_id = details['seat_id']

          $("#booking_id").text(booking_id);
          $("#date").text(dateOnly.toDateString());
          $("#train_name").text(train_name);
          $("#origin_station").text("Station " + origin_station);
          $("#destination_station").text("Station " + destination_station);
          $("#passenger_name").text(passenger_name);
          $("#carriage_id").text(carriage_id);
          $("#seat_id").text(seat_id);
        },
        dataType: "json"
      });

      $('html, body').animate({
        scrollTop: $("#passenger-info").offset().top
      }, 500);
    })
  </script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}