{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>

  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Train Resservation System</h1>
          <p class="lead">We grow together with the community</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_meow.jpg">
          <p class="my-4">
            <i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</i>
          </p>
          <p>
            <b>Vincentius Aditya Sundjaja</b>&nbsp;
            <br>Developer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_fish.jpg">
          <p class="my-4">
            <i>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec. </i>
          </p>
          <p>
            <b>A. Bayusuto</b>
            <br>Developer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg">
          <p class="my-4">
            <i>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Cum sociis natoque penatibus et magnis dis
              parturient montes.</i>
          </p>
          <p>
            <b>Rizki Maulana R.</b>&nbsp;
            <br>Developer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 py-2">
          <h1 class="text-center">Gallery</h1>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-4 col-6">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_dogs.jpg" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_bird.jpg" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_farm.jpg" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_girl.jpg" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_nose.jpg" class="img-fluid"> </div>
        <div class="col-md-4 col-6 p-0">
          <img src="https://pingendo.github.io/templates/sections/assets/gallery_feet.jpg" class="img-fluid"> </div>
      </div>
      <div class="row bg-info">
        <div class="col-md-12">
          <h1 class="text-center"></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/test_lily.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead">
            <i>"I have been using The Train Reservation System since a while. There's no way I can leave it now or never. And
              many people are doing the same, and I seriously do not understand who isn't."</i>
            <br> </p>
          <p class="lead m-0">
            <b>Lily Jonhansen - Times</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}