{% block body %} {% if session.logged_in %}
<p>You're already logged in!</p>
<script>
  window.open("/", "_self");
</script> {% else %}

<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa d-inline fa-lg fa-cloud text-primary"></i>
      <b>TrainReservation</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa d-inline fa-lg fa-bookmark-o text-primary"></i> Bookmarks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa d-inline fa-lg fa-envelope-o text-primary"></i> Contacts</a>
        </li>
      </ul>
      <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/signup">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign Up</a>
    </div>
  </div>
</nav>

<body class="bg-secondary" style="background-image: url('static/img/download.jpg');background-size:100%;">
  <div class="border py-5">
    <div class="containe row-mdr my-4">
      <div class="row border">
        <div class="col-md-3"> </div>
        <div class="col-md-6 border">

          {% if notExist %}
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Login Failed!</h4>
            <p class="mb-0">Your username is not registered in our system. Please try again!</p>
          </div>
          {% elif wrongPassword %}
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Login Failed!</h4>
            <p class="mb-0">Your password is wrong. Please try again!</p>
          </div>
          {% elif newUser %}
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Sign-up Success!</h4>
            <p class="mb-0">Welcome, please try to login now.</p>
          </div>
          {% elif sessionClosed %}
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Your session has ended!</h4>
            <p class="mb-0">Please try to login again.</p>
          </div>
          {% endif %}

          <div class="card p-5 bg-light">
            <div class="card-body">
              <h1 class="mb-4 text-dark border-primary">Login Here</h1>
              <form action="/login" method="POST">
                <div class="form-group">
                  <label class="text-muted">Username</label>
                  <input name="username" type="text" class="form-control border-info" placeholder="username" required="required"> </div>
                <div class="form-group">
                  <label class="text-muted">Password</label>
                  <input name="password" type="password" class="form-control border-info" placeholder="Password" required="required"> </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
{% endif %} {% endblock %}