{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Order Food</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    table {
      counter-reset: tableCount;
    }

    .counterCell:before {
      content: counter(tableCount);
      counter-increment: tableCount;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>
  <div id="size" style="display : none;">{{size}}</div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-spoon fa-fw"></i>Food Order History</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn p-1 btn-lg btn-primary" id="button-add-food">ADD FOOD ORDER</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Food Name</th>
                <th>Quantity</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              {% for data in order_list %}
              <tr>
                <td class="counterCell"></td>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[4]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" id="food-lists">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="text-center">
            <i class="fa fa-caret-right fa-fw"></i>Order New Food</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form>
            <table class="table">
              <thead>
                <tr>
                  <th>Food Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for data in food_list %}
                <tr>
                  <td id="food{{data[2]}}">{{data[0]}}</td>
                  <td id="price{{data[2]}}">{{data[1]}}</td>
                  <td id="qty{{data[2]}}">
                    <input name=q ty{{data[2]}} type="text" class="form-control" placeholder="0" value="0">
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--  <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary btn-block p-2" href="#passenger-info">ORDER NOW!</a>
        </div>
      </div> -->
          </form>
          <button class="order-food btn btn-block btn-lg btn-primary">SAVE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(window).on('beforeunload', function () {
      $(window).scrollTop(0);
    });

    $(document).on('click', "#button-add-food", function () {
      $('html, body').animate({
        scrollTop: $("#food-lists").offset().top
      }, 500);
    })

    $(document).on('click', ".order-food", function () {
      var foodData = {};
      var size = $("#size").text();
      console.log("size " + size);
      for (var i = 0; i < size; i++) {
        var name = $("#food" + i).text();
        var price = $("#price" + i).text();
        var qty = $("#qty" + i).find("input[name=qty" + i + "]").val();
        if (qty == "0") {

        } else {
          foodData[i] = {
            "name": name,
            "price": price,
            "qty": qty
          }

        }
      }
      console.log("masduk");
      console.log(foodData);
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/add_order_food",
        data: JSON.stringify(foodData),
        success: function (data) {
          message = data["data"]
          if (message == "success")
            location.reload();
        },
        dataType: "json"
      });

    })
  </script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}