{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-12">
          <h1 class="">
            <i class="fa fa-user fa-fw"></i>Profile</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 order-2 order-md-1">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
        <div class="col-md-7 order-1 order-md-2 border">
          <div class="row">
            <div class="text-right col-md-6">
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Username</h4>
                  <p>{{ username }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Role</h4>
                  <p>{{ role }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Email</h4>
                  <p>{{ email }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Phone Number</h4>
                  <p>{{ phone }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Adress No</h4>
                  <p>{{ address_no }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Street</h4>
                  <p>{{ street }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Village</h4>
                  <p>{{ village }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">Sub-District</h4>
                  <p>{{ sub_district }}</p>
                </div>
              </div>
              <div class="row my-5">
                <div class="col-10 text-lg-right text-left order-lg-1">
                  <h4 class="text-primary">ZIP code</h4>
                  <p>{{ zip_code }}</p>
                </div>
              </div>
            </div>
          </div>
          <p class="my-3">Both columns have a
            <i>order-n&nbsp;</i>class. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}