<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="fa d-inline fa-lg fa-cloud text-primary"></i>
        <b>TrainReservation</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa d-inline fa-lg fa-envelope-o"></i> Contacts</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-primary" href="/login">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
      </div>
    </div>
  </nav>
  <div class="py-5 bg-dark" style="background-image: url('static/img/station-cover.jpg');background-size:cover;background-position:center top;">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-6 text-white">
          <h1 class="text-center text-md-left display-3">Create Your Account</h1>
          <p class="lead" contenteditable="true">Why waiting if you can do it online?</p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-5">
              <h3 class="pb-3 text-secondary font-weight-bold">Make an account</h3>
              {% if error %}
              <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Sign up Failed!</h4>
                <p class="mb-0">Error in password, must be alphanumeric and length more than 8.</p>
              </div>
              {% elif userExist %}
              <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Sign up Failed!</h4>
                <p class="mb-0">Username is already used.</p>
              </div>
              {% elif charTooLong %}
              <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Sign up Failed!</h4>
                <p class="mb-0">Please make sure all your data is less than 20 characters.</p>
              </div>
              {% endif %}
              <form action="/registration" method="POST">
                <div class="form-group">
                  <label class="text-muted">Username</label>
                  <input name="username" type="text" class="form-control border-info" placeholder="username" required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Password
                    <small>(min. 8 character and consists of numbers and letters)</small>
                  </label>
                  <input name="password" type="password" class="form-control border-info" placeholder="password" required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Phone No.</label>
                  <input name="phone" type="number" class="form-control border-info" placeholder="phone no." required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Email</label>
                  <input name="email" type="text" class="form-control border-info" placeholder="email" required="required">
                </div>
                <div class="form-group">
                  <h4 class="form-control-plaintext text-secondary"> Your Address </h4>
                </div>
                <div class="form-group">
                  <label class="text-muted">Address No.</label>
                  <input name="address" type="number" class="form-control border-info" placeholder="address no." required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Street:</label>
                  <input name="street" type="text" class="form-control border-info" placeholder="street:" required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Village:</label>
                  <input name="village" type="text" class="form-control border-info" placeholder="village:" required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Sub-district:</label>
                  <input name="sub-district" type="text" class="form-control border-info" placeholder="Sub-district:" required="required">
                </div>
                <div class="form-group">
                  <label class="text-muted">Zip code:</label>
                  <input name="zipcode" type="text" class="form-control border-info" placeholder="Zip code:" required="required">
                </div>
                <button type="submit" class="btn btn-primary">Sign-up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>