{% block body %} {% if session.logged_in %}
<!DOCTYPE html>
<html>

<head>
  <title>Train Reservation System - Update Station</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    {% include "navbar.shtml" %}
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <h1 class="">
            <i class="fa fa-train fa-fw"></i>Station Update</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Station Name</th>
                <th>Update Status</th>
              </tr>
            </thead>
            <tbody>
              {% for data in station_list %}
              <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>
                  <button type="submit" class="btn btn-block btn-lg btn-primary update-button">UPDATE</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" id="update-here">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            <i class="fa fa-caret-right fa-fw"></i>UPDATE HERE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card p-6 bg-light">
            <div class="card-body">
              <h1 class="mb-4">Update Form</h1>
              <!-- <form action="https://formspree.io/YOUREMAILHERE"> -->
              <form action="/updatethestation" method="POST">
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Station Name</label>
                  <div class="col-sm-4">
                    <input id='sname' name="old_station_name" type="text" class="form-control sname" placeholder="old station name" required="required"
                      readonly> </div>
                  <div class="col-sm-4">
                    <input name="new_station_name" type="text" class="form-control" placeholder="new station name" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Latitude</label>
                  <div class="col-sm-4">
                    <input id='latitude' name="old_latitude" type="number" step=".01" class="form-control latitude" placeholder="old latitude"
                      required="required" readonly> </div>
                  <div class="col-sm-4">
                    <input name="new_latitude" type="number" step=".01" class="form-control" placeholder="new latitude" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Longitude</label>
                  <div class="col-sm-4">
                    <input id='longitude' name="old_longitude" type="number" step=".01" class="form-control longitude" placeholder="old longitude"
                      required="required" readonly> </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input name="new_longitude" type="number" step=".01" class="form-control" id="inlineFormInputGroup" placeholder="new longitude"
                        required="required"> </div>
                  </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Street</label>
                  <div class="col-sm-4">
                    <input id='street' name="old_street" type="text" class="form-control street" placeholder="old street" required="required"
                      readonly> </div>
                  <div class="col-sm-4">
                    <input name="new_street" type="text" class="form-control" id="inlineFormInputGroup" placeholder="new street" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-4">
                    <input id='city' name="old_city" type="text" class="form-control city" placeholder="old city" required="required" readonly> </div>
                  <div class="col-sm-4">
                    <input name="new_city" type="text" class="form-control" id="inlineFormInputGroup" placeholder="new city" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Zipcode</label>
                  <div class="col-sm-4">
                    <input id='zipcode' name="old_zipcode" type="text" class="form-control zipcode" placeholder="old zipcode" required="required"
                      readonly> </div>
                  <div class="col-sm-4">
                    <input name="new_zipcode" type="text" class="form-control" id="inlineFormInputGroup" placeholder="new zipcode" required="required"> </div>
                </div>
                <div class="form-group form-row">
                  <label class="col-sm-3 col-form-label">Available Track</label>
                  <div class="col-sm-4">
                    <input id='track' name="old_track" type="number" class="form-control track" placeholder="old available track" required="required"
                      readonly> </div>
                  <div class="col-sm-4 col-4">
                    <input name="new_track" type="number" class="form-control" id="inlineFormInputGroup" placeholder="new available track" required="required"> </div>
                </div>
                <button type="submit" class="btn btn-block btn-lg btn-primary">UPDATE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white py-4">
    {% include "footer.shtml" %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript">


    $(document).on('click', '.update-button', function () {
      var cells = $(this).closest("tr").find("td")
      stationName = cells.eq(1).text()
      console.log(stationName)
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/setoldstation",
        data: JSON.stringify(stationName),
        success: function (data) {
          details = data['data']

          sname = details['station_name']
          longitude = details['longitude']
          latitude = details['latitude']
          city = details['city']
          street = details['street']
          zipcode = details['zipcode']
          track = details['track']

          $("#sname").val(sname);
          $("#longitude").val(longitude.toString().replace(",", "."));
          $("#latitude").val(latitude.toString().replace(",", "."));
          $("#city").val(city);
          $("#street").val(street);
          $("#zipcode").val(zipcode);
          $("#track").val(track);
        },
      })
      $('html, body').animate({
        scrollTop: $("#update-here").offset().top
      }, 500);
    })

  </script>
</body>

</html>
{% else %}
<p>You're not logged in!</p>
<script>
  window.open("/login", "_self");
</script> {% endif %} {% endblock %}